{% extends 'base.html' %}

{% block title %}Post List{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="{% static 'blog/style.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<div class="page-header">
    {% if user.is_authenticated %}
    <a href="{% url 'blog:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
    <h1><a href="{% url 'blog:post_list' %}">HYWU Blog</a></h1>
        <form class="form-inline my-2 my-lg-0" action="{% url 'blog:search' %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
        <button class="btn btn-light btn-sm" type="submit">Search</button>
        </form>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="post">
                <div class="date">
                    <p>published: {{ post.published_date }} 작성자: {{ post.author.username }}</p>
                </div>
                <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}